<h2 mat-dialog-title>{{tituloAccion}} Permiso</h2>

<mat-dialog-content class="modal-content">
  <form [formGroup]="formularioPermiso" class="form-container">

    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput autocomplete="off" formControlName="nombre">
      <mat-icon matSuffix>account-box</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Descripcion</mat-label>
      <input matInput autocomplete="off" formControlName="descripcion">
      <mat-icon matSuffix>account-box</mat-icon>
    </mat-form-field>

    <div *ngIf="datosPermiso != null">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Activo</mat-label>
        <mat-select formControlName="activo">
          <mat-option [value]="true">Activo</mat-option>
          <mat-option [value]="false">Inactivo</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Volver</button>
  <button mat-raised-button color="primary" [disabled]="formularioPermiso.invalid"
    (click)="guardarEditarPermiso()">{{botonAccion}}</button>
</mat-dialog-actions>