<div class="header-salud">
    <h1>SALUD - UPE</h1>
</div>

<div class="body">
    <mat-card class="loginCard" style="background-color: white;">
        <div class="header">
            <h2>Login</h2>
        </div>
        <mat-card-content style="padding-bottom: 15px;">

            <form [formGroup]="formularioLogin" (ngSubmit)="iniciarSesion()">

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" autocomplete="off" />
                    <mat-icon matSuffix>mail</mat-icon>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Constraseña</mat-label>
                    <input [type]="ocultarPassword ? 'password' : 'text'" matInput formControlName="password"
                        autocomplete="off" />

                    <button mat-icon-button matSuffix (click)="ocultarPassword = !ocultarPassword" type="button">
                        <mat-icon matSuffix>{{ocultarPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-raised-button color="primary" class="full-width" type="submit"
                    [disabled]="formularioLogin.invalid">
                    Ingresar
                    <mat-icon matSuffix>login</mat-icon>
                </button>
            </form>

        </mat-card-content>

        <mat-card-footer>
            @if (mostrarLoading) {
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            }
        </mat-card-footer>


    </mat-card>
</div>