.header-salud {
  background-color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-salud h1 {
  color: black;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  background-color: #352D77;
}

.loginCard {
  max-width: 328px !important;
  max-height: 600px;
  margin: 2em auto;
  text-align: center;
}

.header {
    text-align: center;
}

.full-width {
  width: 80%;
}