.main-card {
    margin-bottom: 12px;
    box-shadow: none !important;
    border: 1px solid #e0e0e0;
    width: 100%;
    place-self: center;
    max-width: 900px;
    display: flex;
    box-sizing: border-box;
    position: relative;
}

.dashboard-card-content {
    padding: 16px;
    background: #fff;
    border-radius: 12px;
}

.page-title {
    margin: 20px 0 30px 40px;
    color: #352D77;
    font-weight: 500;
    font-size: 24px;
    font-weight: bold;
}

::ng-deep .mat-divider {
    padding-bottom: 10px;
}

.form-section {
    margin: 0;
    background: #fff;
    box-shadow: none !important;
    border: transparent;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
}

.field-with-actions {
    display: flex;
    align-items: center;
    gap: 12px;
}

.botones-obra-social {
    margin-top: 10px;
    margin-bottom: 20px !important;
}

.datos-personales {
    display: flex;
    flex-direction: column;
}

.nombre-completo {
    display: flex;
    gap: 25px;
}

.nombre,
.apellido {
    flex: 1;
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin: 30px 40px 20px;
}

.card-title {
    margin: 5px 20px 18px;
    color: #352D77;
}

.button-domicilio {
    display: grid;
    place-content: center;
    margin-bottom: 16px;
}

button {
    background-color: #352d77 !important;
    color: #fff !important;
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

button:hover {
    background-color: #4a3fb3 !important;
}

button:disabled,
button[disabled] {
    background-color: #b3b0d1 !important;
    color: #e0e0e0 !important;
    cursor: not-allowed;
    opacity: 0.7;
}

@media (max-width: 676px) {
    .nombre-completo {
        flex-direction: column;
    }

    .nombre,
    .apellido {
        flex: none;
        width: 100%;
    }
}